/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", Arial, sans-serif;
  color: #444444;
}

a {
  color: #b8974e;
}

a:hover {
  color: #ffc56e;
  text-decoration: none;
}

/*h1, h2, h3, h4, h5, h6 {
  font-family: "Satisfy", sans-serif;
}*/

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #b8974e;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #ffa012;
  color: #fff;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  padding: 0;
  font-size: 15px;
  height: 50px;
  transition: all 0.5s;
  color: rgba(255, 255, 255, 0.7);
}

#topbar.topbar-scrolled {
  top: -50px;
}

#topbar i {
  color: #b8974e;
}

#topbar i + i {
  margin-left: 15px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background-color: #202020;
}

#header.header-scrolled {
  top: 0;
  background: rgba(26, 24, 22, 0.85);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    top: 0;
    background: rgba(26, 24, 22, 0.85);
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: white;
  padding: 9px 14px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #b8974e;
  text-decoration: none;
}

.nav-menu .book-a-table a {
  background: #b8974e;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-menu .book-a-table a:hover {
  background: #ffa012;
  color: #fff;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #433f39;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #b8974e;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

.navbar-brand, .navbar-nav .nav-item {
  position: relative;
  margin-left: 3rem;
}

@media (max-width: 992px) {
  .navbar-brand, .navbar-nav .nav-item {
      margin-left: auto;
      margin-right: auto;
  }
}

.navbar-nav .nav-item .nav-link {
  transition: 0.3s;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
}

@media (max-width: 992px) {
  .navbar-nav .nav-item .nav-link {
      border-bottom: none;
  }
}

.navbar-nav .nav-item .nav-link:hover {
  color: #b8974e;
}

.navbar-nav .nav-item .nav-link.active {
  color: #b8974e;
  border-color: #b8974e;


}

.navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 45%;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #b8974e;
}

.navbar-nav .nav-item .nav-link.active::before {
  content: url(../images/shadow.png);
    display: block;
    /* margin: 0px auto 0px; */
    position: relative;
    text-align: center;
    width: 100%;
    position: absolute;
    right: 0%;
    top: 85%;
  /*position: absolute;*/
  /*top: 28px;
  right: 30%;
  display: inline-block;*/
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #433f39;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #b8974e;
  text-decoration: none;
}

.mobile-nav .book-a-table a {
  background: #b8974e;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  display: inline-block;
}

.mobile-nav .book-a-table a:hover {
  background: #ffa012;
  color: #fff;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(39, 37, 34, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  /*height: 80vh;*/
  height: auto;
  background-color: rgba(39, 37, 34, 0.8);
  overflow: hidden;
  padding: 0;
}

#hero .carousel-item {
  width: 100%;
  /*height: 80vh;*/
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*#hero .carousel-item::before {
  content: '';
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}*/

/*#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}*/

#hero .carousel-container {
  font-family: "Chronicle Display";
  letter-spacing: 2px;
  display: flex;
  /*align-items: center;*/
  align-items: flex-end;
  position: absolute;
  /*bottom: 0;*/
  bottom: 6%;
  top: 0;
  /*left: 2rem;*/
  /*left: 44%;*/
  left: 43%;
  right: 0;
}

/*#hero .carousel-content {
  text-align: center;
}*/

/*#hero .carousel-content {
  width: 40%;
  text-align: left;
}*/

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 55px;
  /*font-weight: 700;*/
}

#hero h2 span {
  color: #b8974e;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
}

/*#hero img {
  width: 100%;
  height: 100%;
}*/

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  /*transition: 0.5s;*/
  transition: 0.7s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
  opacity: 1;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 36px;
  line-height: 1;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  /*padding: 10px;*/
  padding: 2px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
}

#hero .btn-menu, #hero .btn-book {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  /*padding: 12px 30px;*/
  padding: 10px 8px;
  transition: 0.5s;
  line-height: 1;
  margin: 0 0px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  color: #fff;
  border: 2px solid #b8974e;
}

/*#hero .btn-menu:hover, #hero .btn-book:hover {
  background: #b8974e;
  color: #fff;
}*/

#hero .btn-book:hover {
  background: #b8974e;
  color: #fff;
}

.car_img {
  height: auto;
  width: 100%;
}

@media (max-width: 768px) {
  #hero {
    /*height: 37vh !important;*/
    height: 50%;
    background-color: transparent;
  }
  #hero h2 {
    font-size: 16px;
  }

  .navbar-nav .nav-item .nav-link.active::before {
    top: 65%;
  }

  /*#hero .carousel-container, .carousel-control-next, .carousel-control-prev {
    top: -190px !important;
  }*/

  .carousel-indicators {
    top: 245px !important;
  }

  #hero .carousel-item {
    /*height: 37vh !important;*/
    height: auto;
  }

  #hero .carousel-item img {
    /*height: 50%;*/
    height: 25vh;
  }

  /*.car_img {
    height: 100%;
  }*/

  #hero .btn-menu, #hero .btn-book {
    font-size: 8px;
    padding: 7px 4px;
    margin: 0 0;
  }

  #hero .carousel-container {
    left: 33%;
  }

}

@media (min-width: 1024px) {
  #hero p {
    width: 50%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    /*width: 5%;*/
    width: 4%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

/*.section-title {
  font-family: "Chronicle Display Bold", sans-serif;
}*/

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

.section-title h4 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
}

.section-title h5 {
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span, .section-title h5 span, .section-title h4 span {
  color: #b8974e;
}

/*.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}*/

/*@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}*/

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: #fffaf3;
}

.about .content {
  padding: 0 80px;
}

.about .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #5f5950;
}

.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .content p {
  font-size: 15px;
  color: #848484;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li + li {
  margin-top: 15px;
}

.about .content ul li {
  position: relative;
  padding-left: 26px;
}

.about .content ul i {
  font-size: 20px;
  color: #b8974e;
  position: absolute;
  left: 0;
  top: 2px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  position: relative;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#b8974e 50%, rgba(255, 176, 59, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 176, 59, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #b8974e;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@media (max-width: 1024px) {
  .about .content, .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .about .content {
    padding-top: 30px;
  }
  .about .accordion-list {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Whu Us
--------------------------------------------------------------*/
.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #ffcf88;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #6c665c;
}

.why-us .box p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #b8974e;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu #menu-flters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.menu #menu-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border: 2px solid #b8974e;
  border-radius: 50px;
}

.menu #menu-flters li:hover, .menu #menu-flters li.filter-active {
  color: #fff;
  background: #b8974e;
}

.menu #menu-flters li:last-child {
  margin-right: 0;
}

.menu .menu-content {
  margin-top: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu .menu-content::after {
  content: "......................................................................"
 "...................................................................."
 "....................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: #dad8d4;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.menu .menu-content a {
  padding-right: 10px;
  background: #fff;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #ff9b08;
}

.menu .menu-content span {
  background: #fff;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
}

.menu .menu-ingredients {
  font-style: italic;
  font-size: 14px;
  font-family: "Comic Neue", sans-serif;
  color: #948c81;
}

/*--------------------------------------------------------------
# Specials
--------------------------------------------------------------*/
.specials {
  overflow: hidden;
}

.specials .nav-tabs {
  border: 0;
}

.specials .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #433f39;
  border-radius: 0;
  border-right: 2px solid #e8e7e4;
  font-weight: 600;
  font-size: 15px;
}

.specials .nav-link:hover {
  color: #b8974e;
}

.specials .nav-link.active {
  color: #b8974e;
  border-color: #b8974e;
}

.specials .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.specials .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #433f39;
}

.specials .details p {
  color: #777777;
}

.specials .details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }
  .specials .nav-link.active {
    color: #fff;
    background: #b8974e;
  }
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.events {
  background: url(../images/events-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.events::before {
  content: '';
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.events .section-title h2 {
  color: #fff;
}

.events .container {
  position: relative;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}

.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

.events .event-item {
  color: #fff;
}

.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #b8974e;
}

.events .event-item .price {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.events .event-item .price span {
  border-bottom: 2px solid #b8974e;
}

.events .event-item ul {
  list-style: none;
  padding: 0;
}

.events .event-item ul li {
  padding-bottom: 10px;
}

.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #b8974e;
}

.events .event-item p:last-child {
  margin-bottom: 0;
}

.events .owl-nav, .events .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.events .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.events .owl-dot.active {
  background-color: #b8974e !important;
}

@media (min-width: 992px) {
  .events .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Book A Table
--------------------------------------------------------------*/
.book-a-table {
  background: url(../images/events-bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.book-a-table .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #202020;
}

.book-a-table .php-email-form .form-group {
  padding-bottom: 8px;
}

.book-a-table .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.book-a-table .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.book-a-table .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.book-a-table .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.book-a-table .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.book-a-table .php-email-form input, .book-a-table .php-email-form textarea, .book-a-table .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.book-a-table .php-email-form input, .book-a-table .php-email-form select {
  height: 44px;
}

.book-a-table .php-email-form textarea {
  padding: 10px 12px;
}

.book-a-table .php-email-form button[type="submit"] {
  background: #b8974e;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.book-a-table .php-email-form button[type="submit"]:hover {
    background: #b8974e;
}

.book-a-table .php-email-form .form-control {
    border: 1px solid #202020;
}

.book-a-table .php-email-form label {
    color: #fff;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  padding-bottom: 0;
}

.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.contact .info {
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #b8974e;
  float: left;
  width: 44px;
  height: 44px;
  background: #fff6e8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #433f39;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #7a7368;
}

.contact .info:hover i {
  background: #b8974e;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #b8974e;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ffa012;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #202020;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 25px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #b8974e;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #46423b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #b8974e;
}

#footer .copyright {
  margin: 0 0 20px 0;
  font-weight: 500;
}

#footer .credits {
  font-size: 13px;
}

.text-white {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 28px;
}

.see_more {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  transition: 0.5s;
  line-height: 1;
  margin: 0 10px;
  color: #fff;
  border: 2px solid #b8974e;
}

.card-img-overlay {
  background-color: rgba(0, 0,0,0.3);
}

.testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 2px solid #b8974e;
}

/* Clients */

.clients-carousel .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients-carousel .owl-item img {
  /*width: 75%;*/
  opacity: 0.5;
  transition: ease-in-out 0.3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clients-carousel .owl-item img:hover {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.clients-carousel .owl-nav, .clients-carousel .owl-dots {
  /*margin-top: 5px;*/
  margin-top: 25px;
  text-align: center;
}

.clients-carousel .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.clients-carousel .owl-dot.active {
  background-color: #b8974e !important;
}

.card-content {
  position: relative;
  /*top: 40%;*/
  top: 33%;
}

.back-color {
  background: #202020;
}

.img_container {
  padding: 1rem 1rem 0 1rem;
}

.nav-footer ul li > a {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: 3rem;
}

@media (max-width: 768px) {
  .nav-footer ul li > a {
    margin-right: .1rem;
  }
}

.bg-dark {
  background-color: #202020!important;
}

/*.suppliers-info img {
  padding-top: 1rem;
  padding-bottom: 3rem;
}*/

.rest_in_hotel {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #202020;
}

.rest_in_hotel p {
  font-family: "Gotham Book", "Poppins", sans-serif;
  background-color: #b8974e;
  color: #fff;
  /*font-weight: 700;*/
  /*letter-spacing: 2px;*/
  font-size: 30px;
  padding: 5px;
}

.sup-content-wrapper {
  font-family: "Chronicle Display Bold", "Poppins", sans-serif;
  font-size: 17px;
  word-break: break-all;
}

.main_img_holder img {
  height: 380px;
}

.thumbs:after {
  content: "";
  display: table;
  clear: both;
}

.thumbs div {
  float: left;
  width: 33.33%;
}

.borders-right {
  border-top: 1px solid; 
  border-right:  1px solid;
  border-bottom: 1px solid;
}

.borders-left {
  border-top: 1px solid; 
  border-left:  1px solid;
  border-bottom: 1px solid;
}

@media (max-width: 768px) {
  .borders-right, .borders-left {
    border: none;
  }
}

.supplier {
  font-family: "Trajan Pro", "Poppins", sans-serif;
  font-size: 24px;
  color: #fff;
}

.card-footer a {
  color: #fff !important;
  font-family: "Trajan Pro", "Poppins", sans-serif;
  font-size: 21px;
}

.card-footer a:hover {
  color: #b8974e !important;
}

.see_more:hover {
  color:#fff;
  background-color: #b8974e;
}


.bd-navbar {
  font-family: "Gotham Book", "Poppins", sans-serif;
  min-height: 4rem;
  background-color: #202020;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  border-bottom: 4px solid #b8974e;
}

@media (max-width: 992px) {
  .bd-navbar {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .bd-navbar .navbar-nav-scroll {
      max-width: 100%;
      height: 2.5rem;
      margin-top: .25rem;
      overflow: hidden;
      font-size: .875rem;
  }

  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}/*

  .navbar-nav {
    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
      color: $bd-purple-light;

      &.active,
      &:hover {
        color: #fff;
        background-color: transparent;
      }

      &.active {
        font-weight: 500;
      }
    }
  }

  .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
  }

  .dropdown-menu {
    font-size: .875rem;
  }

  .dropdown-item.active {
    font-weight: 500;
    color: $gray-900;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: .4rem .6rem;
    background-size: .75rem .75rem;
  }
}*/

@media (min-width: 768px) {
  .bd-navbar {
      /*position: -webkit-sticky;
      position: sticky;*/
      top: 0;
      z-index: 1071;
  }
}

@font-face {
  font-family: "Trajan Pro";
  src: url("fonts/Trajan_Pro.ttf");
}

@font-face {
  font-family: "Gotham Book";
  src: url("fonts/GothamBook.ttf");
}

@font-face {
  font-family: "Chronicle Display";
  src: url("fonts/chronicle_display/Chronicle_Display_Roman.otf") format("opentype");
}

@font-face {
  font-family: "Chronicle Display Semibold";
  src: url("fonts/chronicle_display/Chronicle_Display_Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Chronicle Display Bold";
  src: url("fonts/chronicle_display/Chronicle_Display_Bold.otf") format("opentype");
}

@font-face {
  font-family: "Chronicle Display Italic";
  src: url("fonts/chronicle_display/Chronicle_Display_Italic.otf") format("opentype");
}

@font-face {
  font-family: "Graphik Italic";
  src: url("fonts/Graphik_Regular_Italic.otf") format("opentype");
}

@font-face {
  font-family: "Graphik";
  src: url("fonts/GraphikRegular.otf") format("opentype");
}

@font-face {
  font-family: "Graphik Bold";
  src: url("fonts/GraphikBold.otf") format("opentype");
}

.rest_details {
  font-family: "Gotham Book", "Poppins", sans-serif;
}

.res_desc {
  font-family: "Chronicle Display", sans-serif;
  word-spacing: 0.5px;
  font-size: 18px;
}

.rin_desc {
  height: 106px;
}

.res_link {
  font-family: "Graphik Italic", sans-serif;
  font-weight: 600;
}

.trikaya,  .trikaya h5{
  color: #000;
  font-weight: 600;
}

.supp_link {
  font-family: "Graphik Italic", "Poppins", sans-serif;
  font-size: 16px;
}

.supp_link a {
  color: #000;
}

.supp_link a:hover {
  color: #b8974e;
}

.sup_details {
  font-family: "Graphik", "Poppins", sans-serif;
  font-size: 16px;
}

.sup_details b {
  font-family: "Graphik Bold", "Poppins", sans-serif;
  font-size: 16px;
}

.navbar-nav .nav-item .nav-link:hover::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 45%;
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #b8974e;
}


.navbar-nav .nav-item .nav-link:hover::before {
  content: url(../images/shadow.png);
    display: block;
    /* margin: 0px auto 0px; */
    position: relative;
    text-align: center;
    width: 100%;
    position: absolute;
    right: 0%;
    top: 85%;
  }

.about_us_holder p {
  /*font-family: "Chronicle Display Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;*/
  font-size: 18px;
}

.notfound-404 {
    position: relative;
    height: 200px;
}

.notfound h1 {
    font-family: "Gotham Book", "Poppins", sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0;
    color: #211b19;
    text-transform: uppercase;
    background: linear-gradient(130deg,#b8974e,#ffa34f);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.notfound h2 {
    font-family: "Gotham Book", "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
    letter-spacing: 3px;
}

.notfound a {
    font-family: "Gotham Book", "Poppins", sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: linear-gradient(130deg,#b8974e,#ffa34f);
    font-size: 18px;
    -webkit-transition: .2s all;
    transition: .2s all;
}

.client_logo > ul > li {
  margin-bottom: 3rem;
}

.breadcrumb {
  background-color: transparent !important;
}

.sb_form {
    background-color: transparent;
    margin-left: 6% !important;
    width: 31%;
    font: 1rem/normal "Poppins",Arial,Helvetica,Sans-Serif;
    padding-right: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    align-items: center;
    justify-content: flex-end;
    display: inline-flex;
    border-radius: 3px; 
    height: 100%;
    background-color: #fff;
}

@media (max-width: 768px) {
  .sb_form {
      width: 100%;
      margin-left: auto;
  }
}

.sb_form .sb_form_q {
    width: inherit;  
    background-color: transparent;
    /*padding: 10px 6px;*/
    padding: 5px 6px;
    flex: 1;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    font-size: 1.125rem;
    font: inherit;
}

.sb_form .sb_form_go {
  background: linear-gradient(to right, #ffa34f, #b8974e);
  border: none;
  color: white;
  /*padding: 10px 25px;*/
  padding: 5px 25px;
  text-align: center;
  font-size: 16px;
  margin: 0px -10px;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
}

.face {
  width: 300px;
  height: 300px;
  border: 4px solid #383A41;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 50px;
}
  
  @media screen and (max-width: 786px) {
    margin-top: 40px;
    transform: scale(.8);
  }

.face .band {
  width: 350px;
  height: 27px;
  border: 4px solid #383A41;
  border-radius: 5px;
  margin-left: -25px;
  margin-top: 50px;
}

.face .band .red {
  height: calc(100% / 3);
  width: 100%;
  background-color: #EB6D6D;
}
  
.face .band .white {
  height: calc(100% / 3);
  width: 100%;
  background-color: #FFFFFF;
}
  
.face .band .blue {
  height: calc(100% / 3);
  width: 100%;
  background-color: #5E7FDC;
}

  .eyes {
    width: 128px;
    margin: 0 auto;
    margin-top: 40px;
  }


  .eyes::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 15px;
      border: 7px solid #383A41;
      margin-right: 20px; 
      border-top-left-radius: 22px;
        border-top-right-radius: 22px;
      border-bottom: 0;
    }
    
    .eyes::after {
      content: "";
      display: inline-block;
      width: 30px;
      height: 15px;
      border: 7px solid #383A41;
      margin-left: 20px;
      border-top-left-radius: 22px;
        border-top-right-radius: 22px;
      border-bottom: 0;
    }


  .dimples {
    width: 180px;
    margin: 0 auto;
    margin-top: 15px;
  }

  .dimples::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 80px; 
      border-radius: 50%;
      background-color: rgba(235, 109, 109, 0.4);
    }
    
    .dimples::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left: 80px;
      border-radius: 50%;
      background-color: rgba(235, 109, 109, 0.4);
    }
  
  .mouth {
    width: 40px;
    height: 5px;
    border-radius: 5px;
    background-color: #383A41;
    margin: 0 auto;
    margin-top: 25px;
  }

  .empty_result h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: 800;
    color: #202020;
  }

  .empty_result a {
    font-family: "Gotham Book", "Poppins", sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #5e7fdc;
    font-size: 18px;
    -webkit-transition: .2s all;
    transition: .2s all;
}

  .restaurants-info {
    padding-top: 0;
    padding-bottom: 60px;
  }

.read_more {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 24px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

.result_count {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-left: 0;
  padding-bottom: 1rem;
}

.result_text {
  padding-left: 0;
  padding-bottom: 1rem;
}

.search_container {
  padding: 2rem;
  background-color: #DCDCDC;
  margin-bottom: 4rem;
}

.search_img {
    padding-left: 0 !important;
}

.search_desc {
  border-right: 1px solid #000;
}

.show_more {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 24px;
    transition: 0.5s;
    line-height: 1;
    /* margin: 0 10px; */
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
}

@media (max-width: 400px) {
    .list-inline-item {
        font-size: 12px !important;
    }
}

.sd_desc {
  height: 135px;
}

.rin_logo {
  width: 150px;;
}

.rin_bottom {
  margin-bottom: 2rem;
}

.cel_image {
  width: 205px; 
  height: 205px;
}

.cel_desc {
  height: 190px;
}

.search_desc p {
  letter-spacing: 1px;
}

.search_desc p:first-child {
  font-weight: 700;
  color: #b8974e;
}

.logo_holder {
  margin-bottom: 4.5rem !important;
}

.logo_holder:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
  margin-top: -79px; /* Negative margin up by half height of logo + half total top and bottom padding around logo */
}

#logo {
  position: relative; /* Brings the div above the header:after element */
  width: 300px;
  padding: 40px;
  margin: 0 auto;
  background: white; /* Must be same as body */
}

.bk_holder {
  width: 65.5%;
}

@media (max-width: 768px) {
  .section-title h2 {
        font-size: 23px;
    }

    .section-title h4 {
      font-size: 21px;
    }
    
    .about_us_holder p {
        font-size: 16px !important;
    }

    .about_us_holder h4 {
          font-size: 20px;
    }

  .ser_name, .supp_link, .sup_details , .sup_details b {
    font-size: 14px;
  }

  .face {
    width: 220px;
    height: 220px;
     margin-top: 0; 
}

.face .band {
    width: 262px;
    margin-top: 19px;
}

.empty_result h1 {
    font-size: 16px;
}

.empty_result a {
    padding: 10px 12px;
    font-size: 12px;
}

  #logo {
    width: 170px;
    padding: 0 !important;
  }

  .logo_holder:after {
    margin-top: -32px;
  }

  .res_name a {
    font-size: 15px !important;
  }

  .restaurants-info {
    padding: 0;
  }

  .cel_desc {
    height: 240px;
  }

  .cel_image {
    width: 150px; 
    height: 150px;
  }


  .sd_desc {
    height: 195px;
  }

  .search_desc {
      border-right: none;
  }
  
  .search_img {
      padding-left: 15px !important;
      margin-bottom: 12px;
  }
  
  .show_more {
      margin: 0;
  }

  .rest_in_hotel p {
    font-size: 20px;
    font-weight: 700;
  }

  .rin_desc {
    height: 130px;
  }

  .res_desc {
    font-size: 17px;
  }

  .res_link {
    font-size: 15px;
  }

  .rin_logo {
    width: 130px;
  }

  .rin_bottom {
    margin-bottom: 0.5rem;
  }

    .supplier {
      font-size: 18px;
  }

  .sup-content-wrapper {
    font-size: 15px;
  }

  .main_img_holder img {
      height: auto;
  }

  .book-a-table .php-email-form input, .book-a-table .php-email-form select {
    height: 34px;
  }

  .bk_holder {
    width: 88%;
  }

  .result_count{
      font-size: 20px;
      padding-left: 25px;
  }
  
  .result_text {
      padding-left: 25px;
  }
  
}